
.first-div {
  background-color: #0b5461;
  height: 20vh;
  padding: 2em 1em;

  h3 {
    margin: 0;
  }
}

.second-div {
  background-color: #5c9be4;
  height: 20vh;
  padding: 2em 1em;

  h3 {
    margin: 0;
  }
}
