#app {
  .site-content {
    .site-intro {
      display: inline-block;
      margin: 5em 0 4em 3em;

      h1 {
        font-family: 'Zilla Slab';
        font-size: 3em;
        font-weight: 700;
        text-align: left;
      }

      p {
        font-size: 1.5em;
        font-weight: 100;
      }

    }

    .main {
      #primary {
        text-align: center;

        .loading-icon {
          color: $color-accent;
          position: relative;
          top: 2em;
        }

        .home-articles-cont {
          margin: 0 0 1em;
          overflow: visible;

          .card {
            height: 22em;
            text-align: left;
            width: 23.5%;

            &:nth-child(5),
            &:nth-child(6) {
              position: relative;
              top: -6em;
            }

            &:nth-child(2),
            &:nth-child(7) {
              height: 16em;
              width: 48%;
            }
          }

          .read-more-btn {
            bottom: 5em;
            clear: left;
            margin: 1em 2em 0 0.1em;
            position: relative;
            text-align: right;

            .category-link {
              text-decoration: none;

              h1 {
                @include outer-box-shadow(0, 8px, 17px, -7px, $shadow);
                background-color: $color-accent;
                border-radius: 0.4em;
                color: $text-white;
                display: inline-block;
                font-size: 1.1em;
                padding: 0.3em 1.9em 0.5em;
                position: relative;
                top: initial;
                transition: all 0.5s;

                &:hover {
                  letter-spacing: 0.1em;
                  padding: 0.3em 2.2em 0.5em;
                  transform: scale(1.2);
                  z-index:  99;
                }

                span {
                  font-family: 'Zilla Slab';
                  font-weight: 100;
                  margin: 0 0.1em 0 0.3em;
                  transition-duration: 0.5s;
                  transition-property: margin;

                  &:hover {
                    margin: 0 0.8em 0 1.1em;
                  }
                }

                i {
                  position: relative;
                  top: 0.1em;
                }
              }
            }
          }
        }
      }

    }
  }
}


@media screen and (max-width: 1141px) {

  #app {
    .site-content {

      .main {

        #primary {

          .home-articles-cont {

            .read-more-btn {
              bottom: 0;
              margin: 1em 1.5em 0 0.1em;

            }

            .card {
              height: 16em;
              width: 48%;

              &:nth-child(5),
              &:nth-child(6) {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

}
