@import './newarticle.scss';

$color-background: #ffffff;
$nav-red: #ff0000;
$nav-item-black: #3a3a3a;

body {
  background: $color-background;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {

  nav .nav-item {
    color: $nav-item-black;
    margin: 0 0.5em;
    text-decoration: none;
  }

  nav .nav-item:hover {
    color: $nav-red;
  }
}

h1 {
  text-align: center;
}
