.section {
  background-color: $color-secondary;
  border-radius: 0.625em;
  color: $color-secondary;
  height: $height-section;
  margin-top: 6.25em;
  text-align: center;

  #welcome {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5em;
    font-weight: bolder;
    letter-spacing: -0.08em;
  }

  .blue-section {
    background-color: $color-accent;
    border-radius: 0.625em 0 0 0.625em;
    color: $text-white;
    height: $height-section;
    max-width: 100%;
  }

  .box-intro {
    font-family: $font-general;
    margin: auto;
    max-width: 100%;
    text-align: center;
  }

  .text-account {
    display: block;
    font-family: $font-welcome;
    font-size: 0.9em;
    margin-bottom: 0.3em;
  }

  .intro {
    padding: 1.8em;
  }

  .btn {
    background-color: transparent;
  }

  .btn-signup {
    border: 0.0625em solid $color-bg-light-blue;
    color: $color-bg-light-blue;
  }

  .btn-rounded{
    @include btn-rounded-basic();
    border: 0.125em solid $color-primary;
    color: $text-white;
  }

  .btn-rounded-blue{
    @include btn-rounded-basic();
    border: 0.0625em solid $color-bg-light-blue;
    color: $color-bg-light-blue;
    margin-top: 1.5em;
  }

  .email-input {
    @extend %input-style;
    background-color: transparent;

    &::placeholder {
      color: $color-black;
    }

  }

  .email-input:focus {
    @extend %input-style;
    background-color: transparent;
    box-shadow: none;
  }

  .email-addon{
    @extend %input-style;
  }

  .transparent{
    background-color: transparent;
    padding-top: 0;
  }

  .text-create {
    color: $color-bg-light-blue;
    display: block;
    font-family: $font-welcome;
    font-size: 1.5em;
    font-weight: bold;
  }

  .social-text {
    display: inline;
    font-size: 0.8em;
  }

  .social-icon {
    display: inherit;
    text-align: left;
    width: 20%;
  }

  .icon {
    background: $color-bg;
    color: $text-black;
    min-width: 3.125em;
    padding: 0.625em;
    text-align: center;
  }

  .input-container {
    border-bottom: 1px solid $color-gray;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.9375em;
    width: 100%;
  }

  .form-signup {
    margin: auto;
    max-width: 50%;
    padding-bottom: 3em;
  }

  .form-signup > h4 {
    margin-bottom: 3.125em;
  }

  .text-sign-intro{
    color: $color-accent;
    display: block;
    font-family: $font-welcome;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2.7em 0;
  }

  .facebook-icon {
    font-size: 1.3em;
    font-weight: lighter;
  }

  .btn.btn-outline-primary.btn-rounded-blue:active {
    background-color: transparent;
    border: 0.1em solid $color-accent;
    color: $color-accent;
  }

  .btn-google {
    @include btn-social-basic();
    background-color: $color-google;
  }

  .btn-facebook {
    @include btn-social-basic();
    background-color: $color-facebook;
  }

  .btn-twitter {
    @include btn-social-basic();
    background-color: $color-twitter;
  }

  .pale-section {
    padding-top: 3.75em;
  }

  .social-button-group {
    margin-bottom: 7.5em;
    margin-top: 1.875em;
  }

  .blue-section .body{
    margin-top: 7.5em;
  }

  .blue-section .header{
    margin-top: 8.125em;
  }

}

@media screen and (max-width: 768px) {
    /* phones */

  .section {
    background-color: $color-primary;
    border-radius: 0;
    height: auto;
    margin: 0;
  }

  .section .blue-section {
    border-radius: 0;
    height: auto;
  }

  .section .blue-section .header {
    margin-top: 2.5em;
  }

  .section #welcome {
    font-size: 1.8em;
  }

  .section .intro {
    font-size: 0.9em;
    margin: auto;
    padding: 0.5em 1.8em 1.8em 1.8em;
    width: 90%;
  }

  .section .blue-section .body {
    margin-bottom: 2em;
    margin-top: 0;
  }

  .section .text-account {
    margin-bottom: 1.6em;
  }

  .section .btn-rounded {
    font-size: 0.7em;
    width: 14em;
  }

  .section .pale-section {
    padding-top: 0.7em;
  }

  .section .text-create {
    font-size: 1em;
  }

  .section .social-button-group {
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 0.5em;
  }

  .social-text {
    display: inherit;
    font-size: 0.8em;
    width: 80%;
  }

  .social-icon {
    display: inline;
  }

  .section .text-sign-intro {
    font-size: 0.8em;
    margin: 1em 0 2em 0;
  }

  .section .form-signup {
    max-width: 80%;
  }

  .input-group > .form-control:not(:first-child) {
    font-size: 0.7em;
  }

  .section .btn-rounded-blue{
    font-size: 0.7em;
    width: 14em;
  }
}
