// color variables
$nav-red: #f00000;
$nav-item-black: #3a3a3a;
$color-accent: #007fff;
$color-bg: #ffffff;
$color-primary: #ffffff;
$color-secondary: #f5f5f5;
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #9a9a9a;
$transparent-black: rgba(0, 0, 0, 0.5);
$shadow: #333333;
$color-black: rgba(0, 0, 0, 0.25);
$line-color: #ced4da;


//color variables
$color-bg-light-blue:#007fff;
$color-facebook: #3b5998;
$color-google: #f44d4d;
$color-input-bg: #f1f1f1;
$color-twitter: #00aced;
$color-gray: rgb(128, 128, 128);

// font variable
$font-general: 'Open Sans', serif;
$font-welcome: 'Zilla Slab', serif;

//height variable
$height-section: 40.625em;
