// color variables
$nav-red: #f00000;
$nav-item-black: #3a3a3a;
$color-accent: #007fff;
$color-bg: #ffffff;
$color-bg-modal: rgba(255 , 255, 255, 0.98);
$color-border: #e0e0e0;
$color-primary: #ffffff;
$color-secondary: #f5f5f5;
$color-white: #ffffff;
$color-red: #ff0000;
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #9a9a9a;
$text-alternate: rgba(0, 0, 0, 0.7);
$transparent-black: rgba(0, 0, 0, 0.5);
$shadow: #333333;
$shadow-comment-box: rgba(0, 0, 0, 0.25);
$color-black: rgba(0, 0, 0, 0.25);
$line-color: #ced4da;
$color-bg-light-blue: #007fff;
$color-facebook: #3b5998;
$color-google: #f44d4d;
$color-input-bg: #f1f1f1;
$color-twitter: #00aced;
$color-gray: rgb(128, 128, 128);
$lightgreycolor: #ebebeb;
$nav-item-black: #3a3a3a;
$white-color: #ffffff;
$font-color: #ebebeb;
$black-color: #000000;
$primary-color: #007fff;
$white: #ffffff;
$login-placeholder-color: rgba(0, 0, 0, 0.25);
$pagination-button: #ededed;
$header-border-color: #e4e4e4;
$spinner-overlay: rgba(255, 255, 255, 0.6);
$filter-border: #e5e5e5;
$profile-page-bg-color: #e9e9e9;

// font variable
$font-general: 'Open Sans', serif;
$font-welcome: 'Zilla Slab', serif;

//height variable
$height-section: 40.625em;
